<div class="container-fluid">
  <app-home></app-home>
</div>

<!-- 
    <div class="main">
    <div class="column">
      <mat-card class="example-card bg-1">
        <mat-card-header>
          <mat-card-title>Starting At</mat-card-title>
          <mat-card-subtitle><small>$</small>5</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h3>Basic Plan</h3>
          <mat-list role="list">
            <mat-list-item role="listitem">1 Domain</mat-list-item>
            <mat-list-item role="listitem">5 GB Space</mat-list-item>
            <mat-list-item role="listitem">Unlimited Traffic</mat-list-item>
            <mat-list-item role="listitem">5 SubDomain</mat-list-item>
            <mat-list-item role="listitem">5 Email Id</mat-list-item>
            <mat-list-item role="listitem">Daily Backup</mat-list-item>
            <mat-list-item role="listitem">Live Support</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="mb-20 btn-1">Buy Now</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="column">
      <mat-card class="example-card bg-2">
        <mat-card-header>
          <mat-card-title>Starting At</mat-card-title>
          <mat-card-subtitle><small>$</small>15</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h3>Pro Plan</h3>
          <mat-list role="list">
            <mat-list-item role="listitem">5 Domain</mat-list-item>
            <mat-list-item role="listitem">15 GB Space</mat-list-item>
            <mat-list-item role="listitem">Unlimited Traffic</mat-list-item>
            <mat-list-item role="listitem">50 SubDomain</mat-list-item>
            <mat-list-item role="listitem">50 Email Id</mat-list-item>
            <mat-list-item role="listitem">Daily Backup</mat-list-item>
            <mat-list-item role="listitem">Live Support</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="mb-20 btn-2">Buy Now</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="column">
      <mat-card class="example-card bg-3">
        <mat-card-header>
          <mat-card-title>Starting At</mat-card-title>
          <mat-card-subtitle><small>$</small>25</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h3>Expert Plan</h3>
          <mat-list role="list">
            <mat-list-item role="listitem">50 Domain</mat-list-item>
            <mat-list-item role="listitem">50 GB Space</mat-list-item>
            <mat-list-item role="listitem">Unlimited Traffic</mat-list-item>
            <mat-list-item role="listitem">50 SubDomain</mat-list-item>
            <mat-list-item role="listitem">50 Email Id</mat-list-item>
            <mat-list-item role="listitem">Daily Backup</mat-list-item>
            <mat-list-item role="listitem">Live Support</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="mb-20 btn-3">Buy Now</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div> -->